<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img width="100%" src=""/></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/companies">Şirketlerim</a>
      <!-- <a mat-list-item routerLink="/categories">Kategori Yönetimi</a>
      <a mat-list-item routerLink="/cars">Araçlar</a>
      <a mat-list-item routerLink="/rentals">Kiralamalar</a>
      <a mat-list-item routerLink="/users">Kullanıcı Yönetimi</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>      
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Yeni Nesil İş Analizi Otomasyonu</span>



      </mat-toolbar-row>
    </mat-toolbar>
    <div class="row main">
    <div class="container-fluid">
      <div class="breadcumb col-md-2 not-printable">
      <button matTooltip="Önceki Sayfa" (click)="back()" color="primary" mat-raised-button><mat-icon>chevron_left</mat-icon> </button> 
      <button  matTooltip="Sayfayı Yenile" (click)="refresh()" class="add" style="margin-left:10px" mat-raised-button><mat-icon>refresh</mat-icon> </button> 

    </div>
      <router-outlet></router-outlet>
    </div>
</div>
  </mat-sidenav-content>
</mat-sidenav-container>



