  <div class="breadcumb">
    <button class="breadcumb-button" mat-button>   {{titleData?.titleName}} İzin süreleri</button>
    <button class="breadcumb-button add right" mat-raised-button (click)="openPermitAddDialog()" color="green">İzin Ekle</button>

  </div>
  <hr>
  <div class="main-page">
  <mat-selection-list  [multiple]="false">
      <mat-list-option *ngFor="let permit of permitData">
      <span >{{permit.name}}: {{permit.permitTime}}</span>
      </mat-list-option>
    </mat-selection-list>
    <mat-selection-list [multiple]="false">
    <mat-list-option >
      <span><b>Toplam İzin Süresi (Gün): {{annualPermitTime}}</b></span>
      </mat-list-option>
    </mat-selection-list>
  </div>