<div class="car-add-form">
  <form [formGroup]="titleAddForm">
    <div >
      <mat-form-field  appearance="legacy">
        <mat-label>Unvan Adı</mat-label>
        <input matInput formControlName="titleName" required>
      </mat-form-field>
    </div>

    <div>
    </div>
  </form>
  <div mat-dialog-actions>

    <button mat-stroked-button color="warn" (click)="onNoClick()">İptal</button>
    <button mat-stroked-button [mat-dialog-close]="titleAddForm.value" (click)="addTitle()" cdkFocusInitial color="primary">Kaydet</button>
  </div>