table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.analyze-th {display: block; float:left}
.analyze-th,.analyze-td {display: block;}

.attention {
  color: green; 
  font-weight: bold;
}
.bold{
  font-weight: bold;
}

.breadcumb-button {
  margin-left: 5px;
}

